{% extends "index.html" %}

{% block main %}
<form class="container" method="post" action="{{ url_for('cart.checkout_payment') }}">
  <h1>Selecione a Forma de Pagamento</h1>
  <h2 class="mb-4">Clique em <b>Finalizar</b> para prosseguir para <b>concluir o pedido</b>.</h2>

  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

  <div class="d-flex justify-content-between flex-wrap border rounded-top pt-4 px-3">

    <div class="mb-4 mx-2 flex-even">
      <input type="radio" class="btn-check" name="pagamento" autocomplete="off" id="pag1">
      <label class="btn btn-outline-hb p-4 h-100 w-100" for="pag1">
        <h3><b class="text-dark">Cartão de Crédito</b></h3>

        <hr>

        <div class="form-floating mb-3">
          <input type="text" id="txtNome" name="name" class="form-control" placeholder=" " minlength="5" maxlength="30" autofocus>
          <label for="txtNome" class="text-black-50">Nome Impresso no Cartão</label>
        </div>

        <div class="form-floating mb-3">
          <input type="number" id="txtNumero" name="number" class="form-control" placeholder=" " pattern="[0-9]{16}">
          <label for="txtNumero" class="text-black-50">Número do Cartão</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" id="txtValidade" name="dateValidate" class="form-control" placeholder=" " pattern="^(0[1-9]|1[0-2])\/?([0-9]{2})$">
          <label for="txtValidade" class="text-black-50">Validade (mm/aa)</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" id="txtCodigo" name="code" class="form-control" placeholder=" " min="3" max="3">
          <label for="txtCodigo" class="text-black-50">Código de Segurança</label>
        </div>

        <div class="form-floating">
          <select id="selParcelas" name="installments" class="form-select">
            <option value="À vista R${{ parcelas.um }}" selected>À vista R${{ parcelas.um }}</option>
            <option value="2 x de R${{ parcelas.dois }} sem juros">2 x de R${{ parcelas.dois }} sem juros</option>
            <option value="3 x de R${{ parcelas.tres }} sem juros">3 x de R${{ parcelas.tres }} sem juros</option>
            <option value="4 x de R${{ parcelas.quatro }} sem juros">4 x de R${{ parcelas.quatro }} sem juros</option>
            <option value="5 x de R${{ parcelas.cinco }} sem juros">5 x de R${{ parcelas.cinco }} sem juros</option>
            <option value="6 x de R${{ parcelas.seis }} sem juros">6 x de R${{ parcelas.seis }} sem juros</option>
          </select>
          <label for="selParcelas" class="text-black-50">Parcelamento</label>
        </div>
      </label>
    </div>

    <div class="mb-4 mx-2 flex-even">
      <input type="radio" class="btn-check" name="pagamento" autocomplete="off" id="pag2">
      <label class="btn btn-outline-hb p-4 h-100 w-100" for="pag2">
        <h3><b class="text-dark">Dinheiro</b></h3>
        <hr>
        <h4>Valor da Compra: <b>R${{ total_value }}</b></h4>
        <br>
        <p>Se precisar de troco, informe no campo abaixo.</p>
        <div class="form-floating mb-3">
          <input type="number" id="txtTroco" name="troco" class="form-control" placeholder=" " min="0.00" max="10000.00" step="0.01">
          <label for="txtTroco" class="text-black-50">Precisa de troco para quanto?</label>
        </div>
      </label>
    </div>

  </div>
  <div class="text-end border border-top-0 rounded-bottom p-4 pb-0">
    <a href="{{ url_for('cart.checkout_address') }}" class="btn btn-outline-success btn-lg mb-4">Voltar aos Endereços</a>
    <button type="submit" id="finish" disabled class="btn btn-hb btn-lg ms-2 mb-4">Finalizar</a>
  </div>

</form>
{% endblock %}