{% extends "index.html" %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
<div class="col-8 container">
  <h1>Meus Pedidos</h1>

  <hr class="mb-3">

  <div class="accordion" id="divPedidos">

    {% for pedido in pedidos %}
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#pedido{{ pedido.id }}">
          <b>Pedido {{ pedido.id }}</b>
          <span class="mx-1">(realizado em {{ pedido.date }})</span>
        </button>
      </h2>
      <div id="pedido{{ pedido.id }}" class="accordion-collapse collapse" data-bs-parent="#divPedidos">
        <div class="accordion-body table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Produto</th>
                <th class="text-end">R$ Unit.</th>
                <th class="text-center">Qtde.</th>
                <th class="text-end">Subtotal</th>
              </tr>
            </thead>
            <tbody>
              {% for produto in pedido.products %}
              <tr>
                <td>{{ produto.name }}</td>
                <td class="text-end">{{ produto.price }}</td>
                <td class="text-center">{{ produto.amount }}</td>
                <td class="text-end">{{ produto.subtotal }}</td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <th class="text-end" colspan="3">Valor dos Produtos:</th>
                <td class="text-end">{{ pedido.value_total }}</td>
              </tr>
              <tr>
                <th class="text-end" colspan="3">Forma de Pagamento:</th>
                <td class="text-end">{{ pedido.form_of_payment }}</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}