{% extends "index.html" %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
<div class="container">
  <h1>Minha Conta</h1>
  <div class="row gx-3">
    <div class="col-4">
      <div class="list-group">
        <a href="{{ url_for('client.personal_data') }}" id="personalData" class="list-group-item list-group-item-action list-group-client bg-hb text-light">
          <i class="bi-person fs-6"></i> Dados Pessoais
        </a>
        <a href="{{ url_for('client.contacts') }}" id="contacts" class="list-group-item list-group-item-action list-group-client">
          <i class="bi-mailbox fs-6"></i> Contatos
        </a>
        <a href="{{ url_for('client.address') }}" id="address" class="list-group-item list-group-item-action list-group-client">
          <i class="bi-house-door fs-6"></i> Endereço
        </a>
        <a href="{{ url_for('client.change_password') }}" id="changePassword" class="list-group-item list-group-item-action list-group-client">
          <i class="bi-lock fs-6"></i> Alterar Senha
        </a>
        <a href="{{ url_for('auth.logout') }}" class="list-group-item list-group-item-action">
          <i class="bi-door-open fs-6"></i> Sair
        </a>
      </div>
    </div>

    {% block content %}{% endblock %}

  </div>
</div>
{% endblock %}


{% block script %}
 
{% endblock %}