{% extends "client.html" %}

{% block content %}
<div class="col-8">
  <form class="col-sm-12 col-md-8 col-lg-6" action="{{ url_for('client.change_password') }}" method="post">
    {% with messages = get_flashed_messages(with_categories=true) %}

      {% if messages %}
      {% for category, message in messages %}
      {% if category == 'success' %}
      <div class="alert alert-success" role="alert">{{ message }}</div>
      {% elif category == 'danger' %}
      <div class="alert alert-danger" role="alert">{{ message }}</div>
      {% endif %}
      {% endfor %}
      {% endif %}

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

    <div class="form-floating mb-3">
      <input type="password" id="txtSenhaAtual" name="passwordCurrent" class="form-control" placeholder=" " autofocus required>
      <label for="txtSenhaAtual">Digite aqui sua senha atual</label>

      {% if messages %}
        {% for category, message in messages %}
        {% if category == 'password_current' %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>

    <div class="form-floating mb-3">
      <input type="password" id="txtSenha" name="password" class="form-control" placeholder=" " required>
      <label for="txtSenha">Digite aqui sua nova senha</label>
    </div>

    <div class="form-floating mb-3">
      <input type="password" id="txtConfSenha" name="password_2" class="form-control" placeholder=" " required>
      <label for="txtConfSenha">Redigite aqui a nova senha</label>

      {% if messages %}
        {% for category, message in messages %}
        {% if category == 'password_2' %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>

    <button type="submit" class="btn btn-lg btn-hb">Alterar Senha</button>
      {% endwith %}
  </form>
</div>
{% endblock %}

