{% extends "index.html" %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
<div class="container">
    <h1>Instruções Enviadas!</h1>
    <hr>
    <p>
        Caro cliente,
    </p>
    <p>
        Sua nova senha foi enviada para o e-mail <b>{{ email }}</b>.
    </p>
    <p>
        Agradecemos pela confiança em nossos serviços.
    </p>
    <p>
        Cordialmente,<br>
        Central de Relacionamento HBestore
    </p>
    <p>
        <a href="{{ url_for('home.index') }}" class="btn btn-lg btn-hb">Voltar à Página Principal</a>
    </p>
</div>
{% endblock %}