{% extends "index.html" %}

{% block main %}

<div class="container">
    <h1>Nova Senha Cadastrada!</h1>
    <hr>
    <p>
        Caro cliente,
    </p>
    <p>
        Sua nova senha foi cadastrada com sucesso. Para entrar em sua área restrita agora mesmo, <a
            href="/login.html">clique aqui</a>.
    </p>
    <p>
        Agradecemos pela confiança em nossos serviços.
    </p>
    <p>
        Cordialmente,<br>
        Central de Relacionamento Quitanda Online
    </p>
    <p>
        <a href="/index.html" class="btn btn-lg btn-danger">Voltar à Página Principal</a>
    </p>
</div>
{% endblock %}